#inicio {
  background-color: rgb(39, 39, 39);
  box-shadow: none;
  padding-left: 12px;
}
#embrema{
  background: -webkit-linear-gradient(#eee, #c300ff);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#modal01 {
  margin-left: 97%;
  margin-top: -20px;
  color: rgb(183, 0, 255);
  display: flex;
}

#modal {
  background-color: rgb(44, 44, 44);
  color: rgb(183, 0, 255);
  border: color (183, 0, 255);
  text-decoration: none;
}

#modal_buttao {
  background-color: rgb(24, 24, 24);
  color: rgb(183, 0, 255);
}
.modal_opcao{
  color: rgb(183, 0, 255);
margin-left: 0px;

}
#a{
  display: flex;
}
#pesquisa{
  margin-top: -12px;
  margin-left: -186px;
}
.form-control_me-2{
  width: 100px;
  margin-left: 74px;
  
}
.btn.btn-outline-success{
  margin-top: -33px;
 
}
.btn.btn-primary{
  margin-top: -16px;
  margin-left: -12px;
}

.carousel-control-next {
  height: 30%;
  margin-top: 10%;
}

.carousel-control-prev {
  height: 30%;
  margin-top: 10%;
}
/* MAIN CONCERTA ISSO NEM TA RESPANSIVO MAN
a {
  color: aliceblue;
  text-decoration: none;
}

#carou{
  margin-top: 22px;
  margin-left: 0px;
}
#carouselExampleAutoplaying {
  margin-left: 20px;
  margin-top: -59px;
  width: 96%;
}

.carousel-item{
width: 101%;
}
.carousel-control-next-icon{
  margin-left: -110px;
}
#nome_destaque{
text-align: start;
position: relative;
width: 100px;
left: 1%;
color: white;
}
#mais{
  margin-top: -39px;
  margin-left: -5px;
}
#form01 {
  position: relative;
  top: 5px;
  left: 14px;
  background-color: rgb(39, 39, 39);
  width: 868px;
  text-align: end;
  padding-left: -12px;
}

img {
  height: 310px;
  width: 220px;
 
}
.imagem01{
  margin-top: -40px;
  height: 310px;
  width: 220px;
}

.imagem01:hover {
  opacity: 0.4;
}

div a {
 display: block;
 margin-left: 27px;

}

.two-color-div {
  position: relative;
}

.hover-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 91px;
  margin-top: 40px;
  width: 150px;
}

.hover-link:hover {
  color: rgb(183, 0, 255);
}
.hover-link2{
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 832px;
  margin-top: -40px;
  display: flex;
  width: 150px;
}
#two-color-div2{
  margin-top: -120px;
}
.hover-link2:hover{
  color: rgb(183, 0, 255);
}
#form02 {
  background-color: rgb(24, 24, 24);
  box-shadow: none;
  height: 376px;
  width: 868px;
  margin-top: -10px;
  margin-left: 14px;
  
}

#capa {
  position: relative;
  left: 3%;
  transition: color 0.3s;
  margin-top: 40px;
}
#capa02{
  margin-left: 750px;
  margin-top: -352px;
}

#div01 {
  margin-left: 450px;
}*/
/*galeria*/
#galeria02{
  margin-left: 12px;
}
#galeria{
  background-color: #414141;
  color: #c300ff;
  text-align: center;
  width: 80%;
  padding-left: -20%;
  margin-left: 10%;
  margin-top: 2px;
}
#fotos_galeria{
         display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-left: 4%;
            margin-left: -24px;
        }

.imgs{
  padding: 6px;
  margin-left: -10px;
}
/*galeria*/
/*anuncios*/
#anuncios{
 margin-top: -765px;
 margin-left: 12px;
  width: 445px;
}
#anuncio1{
width: 444px;
height: 100px;
display: block; 
}
/*anuncios*/

#fim {
  text-align: center;
  justify-items: end;
  margin-top: 100px;
  padding-top: 12px;
  background-color: black;
  color: white;
  height: 50px;
  position: relative;
}