{
    background-color: black;
}

#inicio01 {
    background-color: rgb(39, 39, 39);
    box-shadow: none;
    color: aliceblue;
    display: flex;
    height: 30px;
    margin-top: -8px;
    width: 1365px;
    margin-left: -8px;
}

#nomedaobra {
    padding-left: 12px;
}

#nome_site {
    margin-top: 4px;
    margin-left: 13px;
}

#voltar {
    margin-left: 1200px;
    margin-top: 7px;
}
